.formulario {
    background: whitesmoke;
    padding: 1rem;
    width: 98%;
    height: 85%;
  }
  .contenedor-fondo {
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2.2rem;
    width: 100%;
    justify-content: center;
  }
  #img_fondo {
    margin: 0 auto; 
    padding: 0 auto;
    width: 800px;
    height: 400px;
    display:block
  }